<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Words</title>
  <style>
    /* Стили для списка результатов */
    #results {
      border: 1px solid #ccc;
      display: none;
    }
    .selected {
      background-color: #f0f0f0;
    }
  </style>
</head>
<body>

<h1>Words</h1>

<div>
  <form>
    <input type="text" class="input-text" id="input-text" autofocus>
  </form>
</div>

<div>
  <ul id="results"></ul>
</div>

<div>
  <form class="wordInfo" id="wordInfo">
    <table border="1">
      <!-- Заголовки столбцов -->
      <tr>
        <th>original</th>
        <th>transcription</th>
        <th>translation</th>
        <th>rating</th>
        <th>dict</th>
        <th>word_status</th>
        <th>dictionary_name</th>
        <th>synonyms</th>
        <th>id</th>
        <th>pos</th>

        <th>pss</th>
        <th>psst</th>
        <th>pp</th>
        <th>ppt</th>
        <th>pps</th>
        <th>ppst</th>
        <th>ppp</th>
        <th>pppt</th>
      </tr>

      <!-- Строка с данными -->
      <tr>
        <td contenteditable="true" id="original"></td>
        <td contenteditable="true" id="transcription"></td>
        <td contenteditable="true" id="translation"></td>
        <td contenteditable="true" id="rating"></td>
        <td contenteditable="true" id="dict"></td>
        <td contenteditable="true" id="word_status"></td>
        <td contenteditable="true" id="dictionary_names"></td>
        <td contenteditable="true" id="synonyms"></td>
        <td contenteditable="true" id="id"></td>
        <td contenteditable="true" id="pos"></td>

        <td contenteditable="true" id="pss"></td>
        <td contenteditable="true" id="psst"></td>
        <td contenteditable="true" id="pp"></td>
        <td contenteditable="true" id="ppt"></td>
        <td contenteditable="true" id="pps"></td>
        <td contenteditable="true" id="ppst"></td>
        <td contenteditable="true" id="ppp"></td>
        <td contenteditable="true" id="pppt"></td>

      </tr>
    </table>

  </form>
</div>

<div>
<form id="status">
  <button type="submit">active</button>

</form>
</div>

</body>
<script src="/script/allWords.js"></script>
</html>
