<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Words</title>
  <style>
    /* Стили для списка результатов */
    #results {
      border: 1px solid #ccc;
      display: none;
    }
    .selected {
      background-color: #f0f0f0;
    }
  </style>
</head>
<body>

<h1>Words</h1>

<div>
  <form>
    <input type="text" class="input-text" id="input-text" autofocus>
  </form>
</div>

<div>
  <ul id="results"></ul>
</div>

<div>
  <form class="wordInfo" id="wordInfo">
    <table border="1">
      <!-- Заголовки столбцов -->
      <tr>
        <th>English Word</th>
        <th>transcription</th>

        <th>Russian Translation</th>
        <th>Rating</th>
        <th>dict</th>
        <th>status</th>
        <th>dictionary_name</th>



        <th>synonyms</th>





      </tr>

      <!-- Строка с данными -->
      <tr>
        <td><input type="text" id="wordEn" placeholder="wordEn"></td>
        <td><input type="text" id="transcription" placeholder="transcription"></td>
        <td><input type="text" id="Translation" placeholder="Translation"></td>
        <td><input type="text" id="rating" placeholder="rating"></td>
        <td><input type="text" id="dict" placeholder="dict"></td>
        <td><input type="text" id="status" placeholder="status"></td>
        <td><input type="text" id="dictionary_name" placeholder="dictionary_name"></td>
        <td><input type="text" id="synonyms" placeholder="synonyms"></td>




      </tr>
    </table>
  </form>
</div>

</body>
<script src="/script/allWords.js"></script>
</html>
