<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Words</title>
</head>
<body>

<h1>Words</h1>

<div>
    <form>
        <input type="text" class="input-text" id="input-text">
    </form>
</div>

<div id="words">
    <% allWords.rows.forEach(function(row) { %>
        <p>English: <%= row.english_word %>, Russian: <%= row.russian_translation %></p>
    <% }); %>
</div>

</body>
<script src="/script/allWords.js"></script>
</html>
