<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
</head>
<body>

<div id="words">
    <% rows.forEach(function(row) { %>
        <p>ID: <%= row.id %>, English: <%= row.word_en %>, Russian: <%= row.word_ru %>, Ukrainian: <%= row.word_ua %></p>
    <% }); %>
</div>


</body>
</html>
